@import '~antd/dist/antd.css';

.video-item {
  display: flex !important;
  align-items:  left !important;
  display: initial;
  position: relative;
  left: 30px;
  cursor: pointer;

}

.video-item.item img {
  max-width: 200px;
}

