@import '~antd/dist/antd.css';

.video-item {
  display: flex !important;
  align-items:  center !important;
  display: initial;
  position: relative;
  cursor: pointer;
  min-width: 250px;

}

.video-item.item img {
  max-width: 200px;
}

